
.clients__block{
    padding-top: 120px;
  padding-bottom: 120px;
}
.bg--darkgray{
  background: $darkgray;
}
.clients__container{
  width: 1085px;
  margin: 0 auto;
}
.client__item{
  padding-right: 119px;
}
.client__item:hover{
  opacity: 0.5;
}
.last--item{
  padding-right: 0;
}
